.skill {
    
     display: flex;
     width: 100px;
     margin: 0 0.5rem;
     background-color: #0dccac;
     padding: 0.4rem;
     border-radius: 0.9rem;
     -webkit-border-radius: 0.9rem;
     -moz-border-radius: 0.9rem;
     -ms-border-radius: 0.9rem;
     -o-border-radius: 0.9rem;
     font-family: coogose-light;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.skill:hover {
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
}
.icon{
     font-size: 3rem;
}