.container-news {
     /* background-color: var(--black); */
     display: grid;
     margin: 0 auto;
     grid-template-columns: 1fr 1fr 1fr;
     width: calc(100vw - 3rem);
     justify-items: center;
     padding: 2rem 0;
}

.card-new {
     background-color: var(--white);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     width: 400px;
     justify-content: center;
     align-items: center;
     gap: 1.2rem;
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(5.4px);
     -webkit-backdrop-filter: blur(5.4px);
     border: 1px solid rgba(255, 255, 255, 0.976);
}