@font-face {
     font-family: coogose-bold;
     src: url(./Assets/fonts/Cocogoose\ Pro-trial.ttf);
}

@font-face {
     font-family: coogose-light;
     src: url(./Assets/fonts/Cocogoose\ Pro\ Light-trial.ttf);
}

@font-face {
     font-family: coogose-thin;
     src: url(./Assets/fonts/Cocogoose\ Pro\ Thin-trial.ttf);
}

:root {
     --yellow: #ffcb05;
     --black: #000000;
     --blue: #1655b2;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}